*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif
    
}
body{
  background-color: #cfcfcf !important;
}
.container-fluid{
    padding: 0;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.icon-hover:hover {
  color: green !important;  /* overrides Bootstrap color */
  opacity: 0.3;               /* fully visible on hover */
}
.custom-gradient {
    background: linear-gradient(180deg, #b8b8b8, #a1a1a1); /* Red → Orange */

}

.tooltip .tooltip-arrow{
  display: none !important;
}


.tooltip-inner{
  border-radius: 20px !important;
  padding: 3px 30px !important;
  margin-top: 30px;
}

@media (min-width: 576px) {
    .modal-dialog{
      max-width: 300px !important;
    }
  }

.fixed-bg, .fixed-bg-2{
  height: 500px;
  background-image: url(../images/band-party.png);
  background-size: cover;
  background-position: center 30%;
  background-attachment: fixed;

}
.fixed-bg-2{
  background-image: url(../images/party2.png) !important;
  background-position: center 70% !important;
}
.card-img-top{
  height: 300px !important;
  text-align: center;

}
.card-img-top img{
  width: 95% !important;
  height: 100% !important;
  margin: auto;
}
.card-logo{
  height: 100px !important;
  text-align: center;
}
.card-logo img{
  width: auto!important;
  height: 100% !important;
  margin: auto;
}
.shadow-strong {
  box-shadow: 8px 8px 20px rgba(0,0,0,0.5);
}
.card-img-bottom{
  width:35% !important;
  height: auto;
}
.card-img-bottom img{
  width: 100%;
  height: 110px !important;
}
.card-bg{
  
  background-position-y: -1px;
  width: 280px !important;
}
.card-bg1{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/musician1.png') center/cover no-repeat !important;
}
.card-bg2{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/musician2.png') center/cover no-repeat !important;
}
.card-bg3{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/musician3.png') center/cover no-repeat !important;
}
.text-gradient {
  background: linear-gradient(178deg, #7b4e2f, #e36008);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* tilted images */

  .jumbotron-split {
      display: flex;
      flex-wrap: wrap;
      min-height: 50vh !important; 
      border: 1px solid red;
    }

    /* Left Part */
    .jumbotron-left {
      flex: 1.5;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .height-100{
      height: 100px;
    }
    .jumbotron-left h1 {
      font-weight: bold;
    }
     .jumbotron-right, .jumbotron-left, .jumbotron-reverse{
      max-height: 400px;
    }

   
    .mt-6{
          margin-top: 4rem !important;
    }
    .underline{
      width: 10%; 
      height: 3px; 
      background-color: black;
    }
    .custom-m-tb{
      margin-top: 100px !important;
      margin-bottom: 100px !important;
    }
    .txtarea-container{
      position: relative;
    }
    .txtarea-container >div{
      position: absolute;
      top: 20px;
      left: 80px;
    }
    .custom-card{
      width: 100% !important;

      margin: auto;
      position: relative !important;
    }
    .custom-card2{
      margin: auto;
      transition: 0.5s ease;
    }
    .custom-card2:hover{
      transform: scale(1.1);
    }
    .custom-card::after{
      content: ' ';
      position: absolute;
      top:0;
      left:0;
      width: 0;
      height: 0;
      background-color:rgba(255, 0, 191, 0.1);
      z-index: 1;
    }
    .custom-card:hover::after{
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      transition: all 1s;
    }
     .custom-card::before{
      content: ' ';
      position: absolute;
      bottom:0;
      right:0;
      width: 0;
      height: 0;
      background-color: rgba(234, 255, 0, 0.1);
      z-index: 1;
    }
    .custom-card:hover::before{
      width: 100%;
      height: 100%;
      transition: all 1s;
    }
    .custom-card-bg{
      width: 300px !important;
      height: 400px;
      margin: auto;
      padding-top: 15px !important;
      transition: transform 0.3s ease; /* smooth animation */
    }
    .card-bg-title{
      padding-top: 0 !important;
      transition: padding-top 1s ease; /* smooth animation */
      height:100px;
    }
    .custom-card-bg:hover {
      transform: scale(0.95); /* shrink to 95% */
      
    }
    .custom-card-bg:hover .card-bg-title{
      padding-top: 10px !important;
    }
    .jumbotron-right img, .jumbotron-reverse img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease; /* smooth animation */
      transform-origin: center; 
      overflow: hidden;
    }
    .jumbotron-right img{
      /* This cuts the image into a diagonal shape */
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 25% 100%);
    }
    .jumbotron-reverse img{
      /* This cuts the image into a diagonal shape */
      clip-path:polygon(0 0, 100% 0%, 75% 100%, 0% 100%)
    }

    .jumbotron-right{
      overflow: hidden;
      /* This cuts the image into a diagonal shape */
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 25% 100%);

    }
    .jumbotron-reverse{
      overflow: hidden;
      /* This cuts the image into a diagonal shape */
      clip-path:polygon(0 0, 100% 0%, 75% 100%, 0% 100%)
    }
    .tilted-container{
      overflow: hidden;
      background-color: #e2e2e2;
    }

    .tilted-container:hover .jumbotron-right img, .tilted-container:hover .jumbotron-reverse img{
      transform: scale(1.05);
    }

   .modal-backdrop {
  z-index: 1040 !important;  /* sits under modal */
  display: none;
}
.custom-link-align{
  text-align: left;
}
.custom-img-align, .custom-logo-align{
  text-align: right;
}

.btn-orange{
  background-color: #e36008 !important;
  border:none !important;
  z-index: 100 !important;
  position: relative;
  color: #fff !important;
}
.btn-orange:hover{
  background-color: #993f03 !important;
}
.text-orange{
  color:#e36008 !important
}
.order-md-7 {
  order:7 !important;
}
.icon-menu a:hover .text-orange{
  color: rgba(30, 30, 30, 0.5) !important;
}
.transparent-btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  color: #ffffff !important; /* Bootstrap primary color */
}
.transparent-btn:hover {
  background-color: #ffffff !important;
  color: #1b1b1b !important; /* Darker shade on hover */
}
.loading-bar {
  position: relative;
  width: 100px;
  height: 5px;
  background: #e9ecef; /* light gray */
  overflow: hidden;
}
.loading-bar::before {
  content: "";
  position: absolute;
  left: -0;
  width: 0%;
  height: 100%;
  background: #e07000; /* bootstrap primary */
  animation: slide 1s linear forwards;;
}
.dropdown-item:focus{

  background-color: #e36008 !important;
}
.navbar-toggler{
  width: 40%;
  text-align: right;
}

.focus-ring:focus{
  --bs-focus-ring-color: rgba(255, 255, 255, 0.5) ; /* orange glow */
  --bs-focus-ring-width: .1rem;
  border-radius: 5px;

}

.fs-0{
  font-size: 3rem !important; /* adjust size */;
}

 .carousel {
      top: 65px;
      height: calc(100vh - 65px);
    }
@keyframes slide {
  from { width: 0%; }
  to   { width: 100%; }
}


 @media(max-width: 767px){
  .jumbotron-right img, .jumbotron-right, .jumbotron-reverse, .jumbotron-reverse img   {
    clip-path: none;
    padding-left: 0;
  }
    .custom-link-align, .custom-link-align a{
      width:100%;
      text-align: center !important;
    }
    .custom-logo-align{
      text-align: center !important;
    }
    .links-line{
      display: none;
    }
   
    .carousel-item img {
      width: 100%;
      height: 100%; /* keeps proportions */
      object-fit:fill; 
  }
  .carousel-control-next{
    right:30px !important;
  }
  .carousel-control-prev{
    left: 30px !important;
  }

  .carousel-control-prev-icon{
    display: none !important;
  }
  .carousel-control-next-icon{
    display: none !important;
  }

 }

 @media (max-width: 992px) {
  .nav-link:focus {
    padding-left: 1rem;  /* increase padding on hover */
    transition: padding 0.3s ease; /* smooth effect */
  }
  .carousel-item img {
      width: 100%;
      height: 100%; /* keeps proportions */
      object-fit:none;
      
  }
  .band1 img{
    object-position: -600px -20px
  }
}
 
